:root {
    --card-height: 300px;
    --card-width: calc(var(--card-height) / 1.5);
}

.mt-45 {
    margin-top: 45px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}
.mb-15 {
    margin-bottom: 15px !important;
}
.mb-40 {
    margin-bottom: 40px !important;
}
.ml-5 {
    margin-left: 5px !important;
}
.mr-5 {
    margin-right: 5px !important;
}
.mr-10 {
    margin-right: 10px !important;
}

.position-relative {
    position: relative !important;
}

.height-auto {
    height: auto !important;
}

.tf-body {
    background: url(../images/background/Mid-BG.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    padding-bottom: 10px;
} 

.header-card-img-size {
    max-height: 340px !important;
}

.custom-card-container {
    overflow: visible !important;
    margin-bottom: 50px !important;
}
.custom-card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 60px;
    perspective: 2500px;
    overflow: visible !important;
}
.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
    overflow: visible !important;
}
.custom-card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}
.wrapper::before,
.wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
}
.wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
        to top,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19) 97%
    );
}
.wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
        to bottom,
        transparent 46%,
        rgba(12, 13, 19, 0.5) 68%,
        rgba(12, 13, 19) 97%
    );
}
.custom-card:hover .wrapper::before,
.wrapper::after {
    opacity: 1;
}
.custom-card:hover .wrapper::after {
    height: 120px;
}
.title {
    width: 100%;
    transition: transform 0.5s;
}
.custom-card:hover .title {
    transform: translate3d(0%, -50px, 100px);
}
.character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
}
.custom-card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
}

.footer {
    padding: 50px 0 !important;
}
.footer-logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.board-area {
    display: flex;
    justify-content: space-between;
    /* border-left: 1px solid #282828; */
    /* border-bottom: 1px solid #282828; */
    width: 100%;
    margin-bottom: 50px;
}
.board-box {
    width: 25%;
    border-left: 1px solid #2a1538;
    border-bottom: 1px solid #2a1538;
}
.board-title {
    padding: 10px 20px;
    color: #FFD664;
    background: linear-gradient(to bottom, #270c3a, #46126A);
    font-weight: 700;
}
.board-list {
    padding: 10px 20px;
    height: 230px;
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    font-size: 13px;
}
.board-empty-list {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.border-gold {
    width: 100%;
    height: 4px;
    background: url(../images/background/border-gold.jpg) center top no-repeat;
}
.last-board-box {
    border-right: 1px solid #2a1538;
}


.tf-button, 
.filter-menu li.active {
    background: linear-gradient(to bottom, #46126A, #7B438A) !important;
    border: none !important;
    letter-spacing: 1px;
}
  
.tf-button:hover, 
.filter-menu li:hover, 
.filter-menu li a:hover {
    background: linear-gradient(to bottom, #7B438A, #46126A) !important;
    border: none !important;
    color: #FFD664 !important;
}

.filter-menu li.active a {
    color: #FFD664 !important;
}

.modal-xl {
    max-width: 90% !important;
}
.modal .modal-dialog .modal-content .modal-body {
    padding: 30px 25px !important;
    border-radius: 20px !important; 
}
.modal-content {
    border-radius:  20px !important;
}
.modal-body {
    background: url(../images/background/Mid-BG.png);
}

.tf-tab .menu-tab li a {
    font-size: 17px !important;
}
.tf-tab .menu-tab li.active a {
    color: #FFD664 !important;
    font-weight: 900;
}
.tf-tab .menu-tab li.active::after {
    background: linear-gradient(to bottom, #46126A, #7B438A) !important;
}

.custom-label {
    font-size: 15px !important;
    letter-spacing: 1px !important;
    margin-bottom: 5px !important;
}
.custom-input {
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    border-radius: 10px !important;
    background: transparent !important;
    padding: 9px 20px 9px 20px !important;
    color: #B9B8BB !important;
    font-size: 13px !important;
    letter-spacing: 1px !important;
}

.card-main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.custom-card-flex {
    width: 16%;
}

.tf-tab .custom-menu-tab {
    justify-content: center !important;
    border-bottom: none !important;
}
.tf-tab .custom-menu-tab li.active::after {
    background: none !important;
}
.tf-tab .custom-menu-tab li {
    padding: 11px 35px 11px 37px !important;
}

.tf-md-btn {
    padding: 11px 35px 11px 37px !important;
}
.tf-money-btn {
    padding: 8px 15px !important;
    font-size: 12px !important;
    border-radius: 5px !important;
}
.money-btn-container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.custom-table thead th {
    padding: 10px 20px;
    color: #FFD664;
    background: linear-gradient(to bottom, #270c3a, #46126A);
    font-weight: 700;
    border-bottom: none !important;
    font-size: 16px;
}

.custom-table th, .custom-table td {
    border-top: none !important;
}
.custom-table td {
    font-size: 12px !important;
    padding: 10px;
}








